body.signup-bg {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(#653d84, #332042);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sign-container {
    /* width: 500px; */
    width: 346px; 
    margin: 0 auto; 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sign-header {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
    padding: 15px;
    text-align: center;
}

.sign-header h2 {
    margin: 0;
    color: #333;
}

.sign-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sign-form label {
    margin-bottom: 8px;
    color: #333;
}

.sign-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.sign-form button {
    background: #653d84;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .sign-container {
        width: 500px; /* Adjust width for web */
    }
}

.loading {
    pointer-events: none; /* Prevent user interaction while loading */
    opacity: 0.5; /* Reduce opacity to indicate loading */
}

/* Define your animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Apply animation to the button */
.signup-button.loading::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: #333;
    animation: spin 1s infinite linear; /* Use the defined animation */
}