.video-container{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.upload-btn{
    display: flex !important;
    justify-content: end !important;
    margin-top: 50px !important;
    margin-right: 50px !important;
}