.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../../assets/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   height: 330px;
}

.bg-primary {
    background-color: #06BBCC !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}
