.watch-container-box{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.wmp-container {
    background-color: black;
    color: white;
    position: relative;
    margin-bottom: 4px;
    -webkit-touch-callout: none;
    user-select: none;
    width: 100% !important;
    height: 550px !important;
}


@media screen and (max-width: 600px) {
    .wmp-container {
        background-color: black;
        color: white;
        position: relative;
        margin-bottom: 4px;
        -webkit-touch-callout: none;
        user-select: none;
        width: 100% !important;
        height: 300px !important;
    }
}